html
    head
        title MMM
    style
        include style.css
    script(src='malicious.js')
    body
        h1
            span(class="rainbow-text") Mim meme market
        h2= "Today's beautiful meme:"
        each meme in beautiful_memes
            include single_meme.pug
        
        h2="Top memes"
        each meme in memes
                include single_meme.pug