:root {
    --dark: rgb(29, 26, 26);
    --darkish: rgb(43, 47, 49);
    --medium: rgb(131, 128, 128);
    --lightish: #e0e0e0;
    --light: #f0f0f0;
    --blue: rgb(9, 97, 138);

    --topbar: rgb(39, 70, 70);
    --secondary: rgb(60, 255, 0);
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}