h1
    span(class="rainbow-text") Mim meme market

if username
    span(class="username")= username
    a(href="/logout" class="login-button") Logout
else
    a(href="/login" class="login-button") Login