html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= "Quizzer login"
        style
            include main.css
            include start.css
            include quiz.css
            include results.css
    body
        form(action="/login" method="POST")
            p= "Login:"
            input(type="text" name="username" placeholder="username")
            input(type="password" name="password" placeholder="password")
            input(type="submit" value="Login")