html
    head    
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Quizzer
        style
            include main.css
            include start.css
            include quiz.css
            include results.css
            include quizzes.css
    body
        include topbar
        h1 Quizzes:
        each quiz in quizzes_data
            div(class="quiz-button-div")
                a(class="dark-button quiz-button" href="/quiz/" + quiz[0])= "Quiz " + quiz[0] + " - " + quiz[1]

        div
            a(href="/resetpassword" class="dark-button reset-pass") Reset password
            